.box {
  padding: 5px 15px;
  background-color: #FFF;
  width: 23%;
  margin-top: 10px;
  text-align: center;
  background: #ecf0f1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0 5px 7px #000;
  transition: 0.4s ease-out;
}
.box .data {
  font-size: 12px;
  margin-bottom: 3px;
}
.box .temperatura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .temperatura .max{
  font-size: 15px;
  color: #B71C1C;
}
.box .temperatura .min{
  font-size: 14px;
  color: #536DFE;
}

.box:hover {
  cursor: pointer;
}
.modal-temperatura {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 50px;
  text-align: center;
}
.modal {

}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  transition: 0.4s ease-out;
}
.modal-body {
  padding: 0;
  box-shadow: 0 5px 7px #000;
  transition: 0.4s ease-out;
}
.modal-temperatura .max {
  color: #B71C1C;
  margin: 5px;
}
.modal-temperatura .min {
  color: #536DFE;
  margin: 5px;
}
.modal .detalhes {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 5px 7px #000;
  overflow: hidden;
  transition: 1s ease-out;
}
.data {
  font-weight: bold;
  font-size: 18px;
}


.box:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 575px) {
  .box {
    width: 100%;
  }
  .modal .detalhes {
    flex-direction: column;
  }
  .modal-temperatura {
    font-size: 35px;
  }
  .modal-header{
    flex-direction: column;
  }
}
@media only screen and (max-width: 300px) {
  .modal-temperatura {
    flex-direction: column;
  }
}