.card {
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -2px 0.5px 5px #000;
  transition: 0.4s ease-out;
  border:0;
  transition-timing-function: ease;
  overflow: hidden;
}
/* .card .principal {
  
} */


.principal .local {
  font-size: 26px;
  font-weight: bold;
}

.principal .temperatura {
  padding: 2px 5px;
  display: flex;
  justify-content: flex-start;
  
  flex-direction: column;
}
.principal .descricao {
  font-weight: bold;
  margin: 5px;
}
.temperatura .temp {
  font-size: 43px;
  font-weight: bold;
}
.temperatura .max {
  font-size: 18px;
}
.temperatura .min {
  font-size: 13px;
}
.principal .celsius {
  font-size: 15px;
}

.card .detalhes {
  display: flex;
}
.detalhes .dia {
  width: 100%;
  background-color: #f5cd79;
  padding: 10px 20px;
  color: #333;
  transition: 0.4s ease-out;
}
.detalhes .noite {
  width: 100%;
  background-color: #596275;
  padding: 10px 20px;
  color: #DDD;
  transition: 0.4s ease-out;
}

@media only screen and (max-width: 620px) {
  .card .detalhes {
    flex-direction: column;
  }
  .detalhes .dia {
    width: 100%;
  }
  .detalhes .noite {
    width: 100%;
  }
}