form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 100%;
  
}
form input {
  height: 40px;
  padding: 10px 5px;
  width: 59%;
  margin-right: 2%;

  border: 0;
  border-radius: 3px;
  box-shadow: -2px 0 1px #111;
  transition: 0.4s ease-in-out;
}
form button {
  height: 40px;
  padding: 10px 3px;
  width: 9%;
  display: inline-block;

  border: 0;
  color: #FFF;
  font-weight: bold;
  background: #49ABCC;
  border-bottom: 2px solid #2CABCF;
  border-radius: 3px;
  transition: all 100ms;
  box-shadow: 1px 2px 2px #000;
  transition: 0.4s ease-in-out;
}
form button:hover {
  background: #2E6ACC;
  border-bottom: 2px solid #2B6ACB;
  box-shadow: -2px 0 3px #111;
  
}
.forecasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  border-radius: 50;
  
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 850px) {
  .forecasts {
    width: 100%;
  }
  form input {
    width: 79%;
  }
  form button {
    width: 19%;
  }
}
@media only screen and (max-width: 575px) {
  .forecasts {
    flex-direction: column;
  }
}

.detalhes .dia {
  width: 100%;
  background-color: #f5cd79;
  padding: 10px 20px;
  color: #333;
  transition: all 1s ease-in-out;
}
.detalhes span {
  font-weight: bold;
  font-size: 18px;
}
.detalhes .noite {
  width: 100%;
  background-color: #596275;
  padding: 10px 20px;
  color: #FCFCFC;
  opacity: 100;
  transition: all 1s ease-in-out;
}
.detalhes .frase {
  font-size: 20px;
  font-weight: bold;
}
.detalhes div {
  font-weight: 550;
}
