form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
form input {
  height: 40px;
  margin: 5px;
  padding: 10px 5px;
  width: 50%;
  border: 0;
}
form button {
  padding: 10px 5px;
  border: 0;
}
.forecasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  
}