@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #2E6C80;
  padding: 30px 100px;
  height: 100vh;
}

@media only screen and (max-width: 850px) {
  body {
    padding: 20px 50px;
  }
}
@media only screen and (max-width: 470px) {
  body {
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 250px) {
  body {
    padding: 0;
  }
}